:root {
  --black: hsla(233.57142857142858, 46.67%, 11.76%, 1);
  --sw-red: #e04f4f;
  --white: white;
  --gray-bg: #eff2f8;
  --core-presentation--dark: #393748;
  --light-grey: #f0f1f9;
  --blue: #3f4aaf;
  --core-presentation--transperent: hsla(0, 0%, 100%, 0);
  --gradient: hsla(0, 0%, 0%, 0);
  --grey: #ffd7b0;
  --yellow: #fdd466;
  --dark-slate-blue: #3f4aaf;
  --green: #95dcbc;
  --light-orange: #fc8955;
  --new_blue: #3f4aaf;
  --new_mint: #6ef76e;
  --core-presentation--gray: #7e83a0;
  --mint-green: #6ef76e;
  --new-blue: #3f4aaf;
  --lime-green: #7de04f;
  --pastel-blue: #c5cbfb;
  --new-light-grey: #dadcf1;
  --main-colors-orange: #ff5a31;
  --faded-grey: rgba(248, 244, 239, 0.4);
  --main-colors-dark-grey: var(--core-presentation--gray);
  --core-presentation--black-nyc: hsla(0, 0%, 0%, 1);
  --brown: #baa46c;
  --purple: #ba81de;
  --light-blue: #909af2;
  --neon-green: #4dcb8e;
  --pink-bg: #fff6f2;
  --shadow: rgba(103, 85, 115, 0.18);
  --pwa-orange: #f26323;
  --light-orange-bg: #fff6f2;
  --wheat: #ead3ad;
  --navajo-white: #8aaf68;
  --light-neon-green: #a9e58d;
  --primary-purple: #c591e7;
  --pastel-green: #c8efde;
  --new-neon-green: #6ef76e;
}
